.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #f5f5f5;
    opacity: 0.7;
}

.d{
    margin-bottom: 10px;
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
  }
  
.r {
    margin-top: 10px;
    animation: colorchange 2s infinite alternate;
  }
  
  @keyframes colorchange {
    0% {
      color:  #e4e418;
    }
    50% {
      color: rgb(235, 162, 6);
    }
    100% {
      color: red;
    }
  }
  .r:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  